<footer class="page__footer">

    <a class="btn_up" href="#hero" title="Home"> <img src="../../assets/images/ico-arrow.svg" alt="Scroll hacia arriba">
    </a>

    <div class="footer_info_container">

        <nav class="menu_container">
            <ul>
                <li><a class="footer_links" href="https://adalab.es/" target="_blank" title="Adalab"
                        alt="Enlace a Adalab">articles</a></li>

                <li><a class="footer_links" href="https://adalab.es/" target="_blank" title="Adalab"
                        alt="Enlace a Adalab">books</a></li>

                <li><a class="footer_links" href="https://adalab.es/" target="_blank" title="Adalab"
                        alt="Enlace a Adalab">events</a></li>

                <li><a class="footer_links" href="https://adalab.es/" target="_blank" title="Adalab"
                        alt="Enlace a Adalab">reasons</a></li>

                <li><a class="footer_links" href="https://adalab.es/" target="_blank" title="Adalab"
                        alt="Enlace a Adalab">tips</a></li>
            </ul>
        </nav>

        <nav class="rrss_container">
            <ul>
                <li><a class="footer_links" href="https://adalab.es/" target="_blank" title="Adalab"
                        alt="Enlace a Adalab">twitter</a></li>

                <li><a class="footer_links" href="https://adalab.es/" target="_blank" title="Adalab"
                        alt="Enlace a Adalab">instagram</a></li>

                <li><a class="footer_links" href="https://adalab.es/" target="_blank" title="Adalab"
                        alt="Enlace a Adalab">mastodon.social</a></li>

            </ul>
        </nav>


        <div class="copyright_container">

            <p>&copy;2017</p>

            <p>we <span style="color: #f26002;">&#10084;</span> components</p>

        </div>

    </div>

</footer>