<div class="page__header">
    <div class="btnBurguer_container">
        <a class="btnBurguer" href="#webAdalab" alt="Enlace a Adalab"> <img src="../../assets/images/ico-menu.svg"
                alt="Menu"> </a>
    </div>


    <div class="header_text_container">
        <h1>anonymous <br>proxy</h1>
        <p>In hac habitasse platea dictumst</p>
        <a class="btn_down" href="#down" title="Scroll hacia el final de la página"><img
                src="../../assets/images/ico-scroll-down.svg" alt="Scroll hacia el final de la página"></a>

    </div>
</div>

</div>