<header class="page__header">
    <div class="btnBurguer_container">
        <button class="btnBurguer"> <img src="../../assets/images/ico-menu.svg" alt=""> <a href="#web adalab"></a> 
        </button>
    </div>


    <div class="header_text_container">
        <h1>anonymous proxy</h1>
        <p>in hac habitasse platea dictumst</p>
    </div>

    <div class="down_container">
        <a href="#down"><img src="../../assets/images/ico-scroll-down.svg" alt="Scroll hacia el final de la página"> </a>
    </div>


</header>