<div class="page__hero" id="hero">
    <div class="btnBurguer_container">
        <a class="btnBurguer" href="https://adalab.es/" target="_blank" title="Adalab" alt="Enlace a Adalab"> <img
                src="../../assets/images/ico-menu.svg" alt="Menu"> </a>
    </div>


    <div class="hero_text_container">
        <h1>anonymous <br>proxy</h1>
        <p>In hac habitasse platea dictumst</p>
        <a class="btn_down" href="#section2_start" title="3 Reasons To Purchase"><img
                src="../../assets/images/ico-scroll-down.svg" alt="Scroll hacia 3 reasons to purcharse"></a>

    </div>
</div>

</div>