<main class="page__main">

    <section class="section1">
        <h4>insomnia tips</h3>
            <h2>looking through a window</h2>
            <p>donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus.
                vivamus semper sodales rutrum.</p>

            <a class="go_link" href="#go">go</a>


    </section>


    <section class="section2">
        <div class="section2_title_container">
            <h2>3 reasons to purchase</h2>
        </div>

        <article class="articles_container">

            <div class="articles article1">
                <h3>ut sed metus</h3>
                <p>lorem ipsum dolor sit amet, consecteur.</p>
            </div>

            <div class="articles article2">
                <h3>curabitur ac erat</h3>
                <p>mauris mattis urna quis lorem molestie.</p>

            </div>


            <div class="articles article3">
                <h3>morbi dictum</h3>
                <p>aliquam in dolor et dolor tincidunt</p>

            </div>

            <div>
                <a class="link_more" href="#web adalab" title="More reasons">more reasons</a>
            </div>

            <div>
               <a class="link_up" href="#up"> <img src="../../assets/images/ico-arrow.svg" alt="Scroll hacia arriba"> </a>
            </div>

        </article>

        
     

    </section>



</main>