<section class="section2">
    <div class="section2_title_container">
        <h3>3 reasons to purchase</h3>
    </div>

    <article class="articles_container">

        <div class="articles article1">
            <h4>ut sed metus</h4>
            <p>lorem ipsum dolor sit amet, consecteur.</p>
        </div>

        <div class="articles article2">
            <h4>curabitur ac erat</h4>
            <p>mauris mattis urna quis lorem molestie.</p>

        </div>


        <div class="articles article3">
            <h4>morbi dictum</h4>
            <p>aliquam in dolor et dolor tincidunt</p>

        </div>

        <div>
            <a class="link_more" href="#web adalab" title="More reasons">more reasons</a>
        </div>

       

    </article>


</section>