.page__hero {
    height: 100vh;
    width: 100vw;
    background: url(../images/cover.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;

    @include forTablet {
        height: 768px;
    }

}

.btnBurguer_container {
    position: fixed;
    background-color: $colorMidBlue;
    width: 44px;
    height: 44px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;


    & btn_burguer {
        width: 16px;
        height: 14px;
    }
}

.hero_text_container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;


    & h1 {
        color: $colorText1;
        font-family: $fontStyle1;
        text-transform: uppercase;
        font-size: 2.625rem;
        line-height: 55px;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: center;
        padding-top: 284px;

        @include forTablet {
            padding-top: 384px;
            font-size: 5rem;
            line-height: 1.33;
        }

        @include forPc {
            font-size: 6.25rem;
            line-height: 1.32;
        }
    }


    & p {
        color: $colorText1;
        font-family: $fontStyle2;
        font-size: 1rem;
        position: relative;
        padding-top: 10px;

        @include forTablet {
            padding-top: 20px;
            font-size: 1.5rem;
        }

        @include forPc {
            padding-top: 0px;
        }
    }

    & .btn_down {
        position: relative;
        width: 45px;
        height: 45px;
        background-color: $colorWhite;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include forTablet {
            margin-top: 30px;
        }
    }
}