.section2 {
    width: 100vw;
    height: 624px;
    background-color: $colorBackBlue;

    @include forTablet {
        height: 397px;
        padding-right: 0px;
        padding-left: 0px;
    }

    @include forPc {
        height: 427px;
        padding-right: 0px;
        padding-left: 0px;

    }



    & .section2_title_container {
        padding-top: 30px;
        font-family: $fontStyle1;
        color: $colorText2;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        text-transform: capitalize;

        @include forTablet {
            font-size: 26px;
        }

        @include forPc {
            padding-top: 60px;
            font-size: 32px;
        }
    

    }


    & .articles_container {

        display: grid;
        grid-template-columns: 70px 180px 70px;
        grid-template-rows: 45px 93px 45px 93px 45px 93px 45px 45px 60px;


        @include forTablet {
            display: grid;
            grid-template-columns: 35.7px 212.3px 27.7px 212.3px  27.7px 212.3px 40px;
            grid-template-rows: 45px 112px 60px 45px 60px;
        }


        @include forPc {
            display: grid;
            grid-template-columns: 81.2px 353.8px 26.2px 353.8px 26.2px 353.8px 85px;
            grid-template-rows: 45px 112px 60px 45px 60px;
        
        }
    


        & .item1 {
            padding-top: 45px;
            grid-column: 2/3;
            grid-row: 1/2;

            @include forTablet {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            @include forPc {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            & h4 {

                font-family: $fontStyle1;
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: center;

                &:first-letter {
                    text-transform: capitalize;
                }

                @include forTablet {
                    font-size: 24px;
                }

            }


            & p {

                font-family: $fontStyle2;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: center;

                &:first-letter {
                    text-transform: capitalize;
                }

                @include forTablet {
                    font-size: 20px;
                    line-height: 1.5;
                    padding-top: 14px;
                }

            }

        }


        & .item2 {
            padding-top: 45px;
            text-align: center;
            grid-column: 2/3;
            grid-row: 3/4;

            @include forTablet {
                grid-column: 3/4;
                grid-row: 1/2;
            }

            @include forPc{
                grid-column: 4/5;
                grid-row: 1/2;

            }


            & h4 {

                font-family: $fontStyle1;
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: center;

                &:first-letter {
                    text-transform: capitalize;
                }

                @include forTablet {
                    font-size: 24px;
                }

            }


            & p {

                font-family: $fontStyle2;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: center;

                &:first-letter {
                    text-transform: capitalize;
                }

                @include forTablet {
                    font-size: 20px;
                    line-height: 1.5;
                    padding-top: 14px;
                    align-items: stretch;
                }

            }


        }



        & .item3 {
            padding-top: 45px;
            text-align: center;
            grid-column: 2/3;
            grid-row: 5/6;

            @include forTablet {
                grid-column: 5/6;
                grid-row: 1/2;
            }

            @include forPc{
                grid-column: 6/7;
                grid-row: 1/2;

            }


            & h4 {

                font-family: $fontStyle1;
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: center;

                &:first-letter {
                    text-transform: capitalize;
                }

                @include forTablet {
                    font-size: 24px;
                }

            }


            & p {

                font-family: $fontStyle2;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: center;

                &:first-letter {
                    text-transform: capitalize;
                }

                @include forTablet {
                    font-size: 20px;
                    line-height: 1.5;
                    padding-top: 14px;
                }

            }

        }


        & .item4 {
            width: 184px;
            height: 45px;
            text-align: center;
            grid-column: 2/3;
            grid-row: 8/9;
            background-color: $colorOrange;
            border-radius: 22.5px;

            @include forTablet {
                width: 210px;
            }

            @include forPc{
                width: 255px;
                display: grid;
                grid-column: 4/5;
                grid-row: 4/5;
            }


            

            & a {

                text-decoration: none;
                color: $colorText1;
                font-family: $fontStyle2;
                font-size: 20px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.25;
                letter-spacing: normal;
                padding: 10px;


                &:first-letter {
                text-transform: capitalize;
            }

            }




        }

    }



}