.section1 {
    padding-left: 15px;
    padding-right: 15px;
    height: 376px;
    display: flex;
    flex-direction: column;

    @include forTablet{
        padding-left: 39px;
        padding-right: 39px;
        height: 330px;
    }

    @include forPc{
        padding-left: 275px;
        padding-right: 275px;
        height: 360px;
    }

    & h2 {
        font-family: $fontStyle2;
        font-size: 0.875rem;
        line-height: 2.14;
        color: $colorText3;
        text-transform: capitalize;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        padding-top: 30px;

        @include forPc{
            font-size: 1rem;
            padding-top: 60px;
        }
    }



    & h3 {
        font-family: $fontStyle1;
        color: $colorText2;
        font-size: 1.5rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-transform: capitalize;
       
        @include forTablet {
            font-size: 1.625rem;
        }

        @include forPc {
            font-size: 2rem;
        }
    }

    & p {
        font-family: $fontStyle2;
        color: $colorText4;
        font-size: 1.125rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        padding-top: 15px;
        padding-bottom: 30px;

        &:first-letter {
            text-transform: capitalize;
        }

        @include forTablet {
            font-size: 1.25rem;
            line-height: 1.5;
            padding-top: 30px;
        }  
    }


    a {
        color: $colorOrange;
        background-color: $colorWhite;
        text-decoration: none;
        text-transform: capitalize;
        font-family: $fontStyle2;
        font-size: 1.25rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.25;
        letter-spacing: normal;
        width: 76px;
        height: 45px;
        border: 2px solid $colorOrange;
        border-radius: 25px;
        text-align: center;

        &:hover {
            background-color: $colorOrange;
            color: $colorWhite;
        }

        @include forTablet {
            width: 91px;
        }

        @include forPc {
            width: 160px;
        }
    }
}