@import url(reset/normalize.css);/* $forPc:
$forTablet: */* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page__header {
  height: 100vh;
  width: 100vw;
  background: url(/assets/images/cover.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btnBurguer_container {
  position: fixed;
  background-color: #0271bc;
  width: 44px;
  height: 44px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btnBurguer_container btn_burguer {
  width: 16px;
  height: 14px;
}

.header_text_container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.header_text_container h1 {
  color: #ffffff;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-size: 42px;
  line-height: 55px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  padding-top: 284px;
}

.header_text_container p {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  position: relative;
  padding-top: 10px;
}

.header_text_container .btn_down {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section1 {
  padding-left: 15px;
  padding-right: 15px;
  height: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section1 h2 {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 2.14;
  color: #8ccbea;
  text-transform: capitalize;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  padding-top: 30px;
}

.section1 h3 {
  font-family: "Roboto Slab";
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-transform: capitalize;
}

.section1 p {
  font-family: "Roboto";
  color: #4a4a4a;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  padding-top: 15px;
  padding-bottom: 30px;
}

.section1 p:first-letter {
  text-transform: capitalize;
}

.section1 a {
  color: #f26002;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  width: 76px;
  height: 45px;
  border: 2px solid #f26002;
  border-radius: 25px;
  text-align: center;
}

.section2 {
  padding-left: 15px;
  padding-right: 15px;
  width: 100vw;
  height: 624px;
  background-color: #eff9ff;
}

.section2 .section2_title_container {
  padding-top: 30px;
  font-family: "Roboto Slab";
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  text-transform: capitalize;
}

.section2 .articles_container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 138px 138px 138px 45px 45px 60px;
}

.section2 .articles_container .item1 {
  padding-top: 45px;
  text-align: center;
  grid-column: 2/5;
  grid-row: 1/2;
}

.section2 .articles_container .item1 h4 {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
}

.section2 .articles_container .item1 h4:first-letter {
  text-transform: capitalize;
}

.section2 .articles_container .item1 p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
}

.section2 .articles_container .item1 p:first-letter {
  text-transform: capitalize;
}

.section2 .articles_container .item2 {
  padding-top: 45px;
  text-align: center;
  grid-column: 2/5;
  grid-row: 2/3;
}

.section2 .articles_container .item2 h4 {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
}

.section2 .articles_container .item2 h4:first-letter {
  text-transform: capitalize;
}

.section2 .articles_container .item2 p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
}

.section2 .articles_container .item2 p:first-letter {
  text-transform: capitalize;
}

.section2 .articles_container .item3 {
  padding-top: 45px;
  text-align: center;
  grid-column: 2/5;
  grid-row: 3/4;
}

.section2 .articles_container .item3 h4 {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
}

.section2 .articles_container .item3 h4:first-letter {
  text-transform: capitalize;
}

.section2 .articles_container .item3 p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
}

.section2 .articles_container .item3 p:first-letter {
  text-transform: capitalize;
}

.section2 .articles_container .item4 {
  width: 184px;
  height: 45px;
  text-align: center;
  grid-column: 2/5;
  grid-row: 5/6;
  background-color: #f26002;
  border-radius: 22.5px;
}

.section2 .articles_container .item4:first-letter {
  text-transform: capitalize;
}

.section2 .articles_container .item4 a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  padding: 10px;
}

.page__footer {
  height: 465px;
  background-color: #304268;
  color: #ffffff;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.page__footer .btn_up {
  position: relative;
  width: 45px;
  height: 45px;
  top: -22.5px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page__footer .menu_container {
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
}

.page__footer .rrss_container {
  padding-top: 30px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
}

.page__footer .copyright_container {
  padding-top: 30px;
  text-transform: lowercase;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
