@import url(reset/normalize.css);

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page__header {
  height: 100vh;
  width: 100vw;
  background: url(/assets/images/cover.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btnBurguer_container {
  position: fixed;
  background-color: #0271bc;
  width: 44px;
  height: 44px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.btnBurguer_container btn_burguer {
  width: 16px;
  height: 14px;
}

.header_text_container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.header_text_container h1 {
  color: #ffffff;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-size: 42px;
  line-height: 55px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  padding-top: 284px;
}

.header_text_container p {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  position: relative;
  padding-top: 10px;
}

.header_text_container .btn_down {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.section1 {
  padding-left: 15px;
  padding-right: 15px;
  height: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section1 h2 {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 2.14;
  color: #8ccbea;
  text-transform: capitalize;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  padding-top: 30px;
}

.section1 h3 {
  font-family: "Roboto Slab";
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-transform: capitalize;
}

.section1 p {
  font-family: "Roboto";
  color: #4a4a4a;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  padding-top: 15px;
  padding-bottom: 30px;
}

.section1 p:first-letter {
  text-transform: capitalize;
}

.section1 a {
  color: #f26002;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  width: 76px;
  height: 45px;
  border: 2px solid #f26002;
  border-radius: 25px;
  text-align: center;
}

.section2 {
  padding-left: 15px;
  padding-right: 15px;
  height: 624px;
  background-color: #eff9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section2 .section2_title_container {
  font-family: "Roboto Slab";
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  padding-top: 30px;
  text-transform: capitalize;
}

.section2 .articles_container .articles {
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}

.section2 .articles_container .articles h4 {
  padding-right: 68px;
  padding-left: 68px;
}

.section2 .articles_container .articles p {
  padding-right: 70px;
  padding-left: 70px;
}

/*# sourceMappingURL=main.css.map */
