$colorDarkBlue:#304268;
$colorMidBlue:#0271bc;
$colorLightBlue:#8ccbea;
$colorBackBlue: #eff9ff;
$colorWhite:#ffffff;
$colorOrange:#f26002;
$colorGrey: #4a4a4a;

$colorText1:$colorWhite;
$colorText2:#000000;
$colorText3:$colorLightBlue;
$colorText4:$colorGrey;


$fontStyle1:'Roboto Slab', ;
$fontStyle2:'Roboto', ;
$fontStyle3:'Roboto', medium ;

/* $forPc:
$forTablet: */